body {
  font-family: "Quicksand", sans-serif;
}
video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
  opacity: 50%;
  z-index: -1;
}

form {
  text-align: center;
}
.weather-container {
  margin: 75px auto;
  max-width: 500px;
  height: 550px;
  background: rgb(104, 97, 117);
  opacity: 75%;
  border-radius: 10px;
  box-shadow: 0.5px 1px 3px rgb(133, 133, 133);
}
.city-choice {
  text-align: center;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

input {
  padding-left: 0px;
  padding-right: 0px;
  width: 300px;
  height: 35px;
  border-radius: 4px;
}

button {
  padding-left: 0px;
  padding-right: 0px;
  padding: 4px 7px;
  background-color: white;
  margin-bottom: 4px;
  border-radius: 4px;
  border: 1px solid white;
  transition: all 150ms ease-in-out;
}
button:hover {
  background-color: rgb(46, 49, 68);
  color: white;
  cursor: pointer;
}

section {
  margin-top: 5px;
}

h1,
h2 {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px rgb(58, 61, 79);
}
h1 {
  font-size: 22px;
}
h2 {
  text-decoration: overline;
  text-decoration-thickness: 2px;
  font-size: 48px;
  font-weight: 600;
}
h3 {
  position: relative;
  right: 50px;
  top: 15px;
  font-size: 70px;
  line-height: 60px;
  color: rgb(253, 249, 4);
  text-shadow: 3px 3px 3px rgb(58, 61, 79);
}

.transform {
  text-decoration: none;
  font-size: 50px;
  color: rgb(253, 249, 4);
}
.indicators {
  text-align: right;
  line-height: 25px;
  font-weight: 750;
  padding-right: 10px;
  font-size: 18px;
  color: white;
  text-shadow: 3px 3px 3px rgb(58, 61, 79);
}
.units a {
  text-decoration: none;
}
.units .active {
  color: rgb(253, 249, 4);
  cursor: default;
}

#sky {
  margin-bottom: 23px;
  margin-left: 32px;
  text-align: left;
  color: white;
  text-shadow: 3px 3px 3px rgb(58, 61, 79);
}
#sky::first-letter {
  text-transform: capitalize;
}
.forecast-container {
  display: block;
  margin: 0 auto;
  max-width: 470px;
}
.col-2 {
  text-shadow: 0.5px 1.5px 1.5px rgb(45%, 43%, 63%);
  padding: 2px;
  height: 10px;
}

.card {
  max-width: 79px;
  color: white;
  border: 1px solid white;
  background: rgb(104, 97, 117);
}

.temp-day {
  font-size: 20px;
}
br {
  font-size: x-small;
}
.emoji {
  font-size: 22px;
}
.temp-night {
  color: rgb(75, 75, 75);
  font-size: 14px;
  text-shadow: 0.5px 1.5px 1.5px white;
}
.weekday {
  font-weight: 600;
}

.creator {
  position: relative;
  bottom: 68px;
  right: 110px;
}

.source {
  text-decoration: underline;
}

source:hover {
  text-decoration: underline;
  cursor: pointer;
}
